{
	font-family: quasimoda, sans-serif;
	font-weight: 400;
	font-style: normal;
}

/* Navigation */

#bloc_page
{
    width: 80%;
}

nav ul
{
    list-style-type: none;
    display: flex;
    margin-left: 440px;
}

nav li
{
    margin-right: 80px;
}

nav a
{
    font-size: 1.3em;
    color: white;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

section h1, footer h1, nav a
{
    font-family: quasimoda, serif;
    font-weight: normal;
    text-transform: uppercase;
}

/* Header */

header
{
    background-color: #f88cac;
}

.pink-background {
    background-color: pink;
    padding: 20px;
    margin: -15px;
  }

#logo
{
    display: flex;
    margin-left: 36px;
    margin-top: 16px;
    flex-direction: row;
    align-items: baseline;
}

#logo img
{
    width: normal;
    height: normal;
}

body
{
    background: url('images/fondrouge.png');
    min-height: 80px;
    font-family: 'quasimoda', Arial, sans-serif;
}

#bloc_page
{
    width: 80%;
}

/* Navigation */

nav ul
{
    list-style-type: none;
    display: flex;
    margin-left: 440px;
}

nav li
{
    margin-right: 80px;
}

nav a
{
    font-size: 1.3em;
    color: white;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

section h1, footer h1, nav a
{
    font-family: quasimoda, serif;
    font-weight: normal;
    text-transform: uppercase;
}

/*Portfolio*/

h1
{
    font-size: 5em;
    text-align: center;
}

ul h1, h2, h3
{
    font-size: 1.5em;
}

body
{
    background: url('images/fondrouge.png');
    background-attachment: fixed;
    font-family: 'quasimoda', Arial, sans-serif;
    color: white;
}

body ul
{
    list-style-type: none;
    display: flex;
}

.image_1
{
    margin-left: 20px;
    width: 66%;
}

.image_2
{
    margin-left: 11px;
    width: 66%;
}

.image_3
{
    margin-left: 60px;
    width: 66%;
}

/*Footer*/

.pink-footer
{
    background-color: pink;
    padding-top: 200px;
    margin: -20px;
    margin-top: 400px;
}