{
	font-family: quasimoda, sans-serif;
	font-weight: 400;
	font-style: normal;
}

/* Header */

header
{
    background-color: #f88cac;
}

.pink-background 
{
    background-color: pink;
    padding: 20px;
    margin: -15px;
 }

#logo
{
    display: flex;
    margin-left: 36px;
    margin-top: 16px;
    flex-direction: row;
    align-items: baseline;
}

#logo img
{
    width: normal;
    height: normal;
}

#bloc_page
{
    width: 80%;
}

/* Navigation */

nav ul
{
    list-style-type: none;
    display: flex;
    margin-left: 440px;
}

nav li
{
    margin-right: 80px;
}

nav a
{
    font-size: 1.3em;
    color: white;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

/*Presentation*/

section h1, footer h1, nav a
{
    font-family: quasimoda, serif;
    font-weight: normal;
    text-transform: uppercase;
}

body h1
{
    font-size: 5em;
    text-align: center;
    color: white;
    margin-top: 50px;
}

.imageflottante
{
    float: left;
    display: block;
    margin: auto;
}

body
{
    background-color: #DD0000;
    min-height: 80px;
    font-family: 'quasimoda', Arial black, sans-serif;
}

.presentation
{
    font-size: 1.5em
    display: flex;
    text-align: justify;
    margin: auto;
    margin-right: 260px;
    margin-left: 260px;
    margin-top: 80px;
    color: white;
}

/*Footer*/

.pink-footer
{
    background-color: pink;
    padding-top: 200px;
    margin: -20px;
    margin-top: 400px;
}