<style>
{
	font-family: quasimoda, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#content[role="main"] {
    display: none;
}

/* Header */

html,body {
    margin:0;
    padding:0;
    height: 100%;
}

#header
{
    width: 100%;
    height: 150px;
    margin: 0 auto;
    z-index: 100;
    position: relative;
    background: pink;
}

#logo
{
    display: flex;
    margin-left: 6%;
    flex-direction: row;
    align-items: baseline;
}

#logo img
{
    width: normal;
    height: normal;
    margin-top: 5%;
}

.bloc_page
{
    width: 80%;
}

/* Navigation */

input, label {
    display: none;
}

nav ul
{
    list-style-type: none;
    display: flex;
    margin-left: 440px;
}

nav li
{
    margin-right: 80px;
}

nav a
{
    font-size: 1.3em;
    color: white;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
}

section h1, footer h1, nav a, h3
{
    font-family: quasimoda, serif;
    font-weight: normal;
    text-transform: uppercase;
}

/*Content*/

body h1
{
    font-size: 5em;
    text-align: center;
    color: white;
    margin-top: 20%;
}

.imageflottante
{
    float: left;
    display: block;
    margin: auto;
}

body
{
    background-color: #BF0413;
    width: 100%;
    min-height: 100%;
    font-family: 'quasimoda', Arial black, sans-serif;
}

.presentation
{
    font-size: 1.6em
    display: flex;
    text-align: justify;
    margin: auto;
    margin-right: 10%;
    margin-left: 20%;
    margin-top: 8%;
    color: white;
    margin-bottom: 8%;
}

/*Footer*/

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 18rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 18rem;            /* Footer height */
  background-color: pink;
}

footer h3, li {
    padding: 0;
}

footer h3 {
    list-style-type: none;
    text-transform: uppercase;
    color: white;
    font-size: 1.6em;
    padding-left: 7%;
    padding-top: 4%;
}

footer li {
    list-style-type: none;
    font-family: quasimoda, arial black, serif;
    color: white;
    font-size: 1.3em;
    padding-left: 4%;
    padding-bottom: 5%;
}

.copyright p
{
    font-size: 1.2em;
    font-family: quasimoda, arial black, serif;
    font-weight: bold;
    color: white;
    text-align: center;
}

/*Media Queries*/
    
@media only screen and (min-width: 320px) and (max-width: 768px) {

body
{
  margin: 0;
  padding: 0;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: white;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: white;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: white;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: pink;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}
}

</style>
