<style>
{
	font-family: quasimoda, arial black, sans-serif;
	font-weight: 400;
	font-style: normal;
}

/* Header */

html,body {
    margin:0;
    padding:0;
    height: 100%;
}

#menu {
	display: none;
}

#header
{
    width: 100%;
    height: 150px;
    margin: 0 auto;
    z-index: 100;
    position: relative;
    background: pink;
}

#logo
{
    display: flex;
    margin-left: 6%;
    flex-direction: row;
    align-items: baseline;
}

#logo img
{
    width: normal;
    height: normal;
    margin-top: 1.4%;
}

.bloc_page
{
    width: 80%;
}

/* Navigation */

.basic-nav ul
{
    list-style-type: none;
    display: flex;
    margin-left: 440px;
}

.basic-nav li
{
    margin-right: 80px;
}

.basic-nav a
{
    font-size: 1.3em;
    color: white;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
}

section h1, footer h1, nav a, h3
{
    font-family: quasimoda, serif;
    font-weight: normal;
    text-transform: uppercase;
}

/*Content*/

body {
    min-height: 100%;
    margin: 0;
}

body 
{
    background-color: #DD0000;
    background-attachment: fixed; /*L'image de fond est fixe*/
    background-size: 100%;/*le fond prend 100% de la page */
    background-position: center;/* l'image de fond est centrée*/
    background-size:cover;
}

main img {
    width: 100%;
}

/*Footer*/
	
footer {
    clear: both;
    position: relative;
    height: 300px;
    margin-top: -100px;
    background-color: pink;
}

footer h3, li {
    pading: 0;
}

footer h3 {
    list-style-type: none;
    text-transform: uppercase;
    color: white;
    font-size: 1.6em;
    padding-left: 7%;
    padding-top: 6%;
}

footer li {
    list-style-type: none;
    font-family: quasimoda, arial black, serif;
    color: white;
    font-size: 1.3em;
    padding-left: 4%;
    padding-bottom: 5%;
}

.copyright p
{
    font-size: 1.2em;
    font-family: quasimoda, arial black, serif;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-bottom: 2%;
}

.sidebarMenuInner
{
	display: none;
	list-style-type: none;
}

/*Media Queries*/

@media only screen and (min-width: 1824px) {
	
@media only screen and (min-width: 320px) and (max-width: 768px) {
	.bloc_page {
	display: none;
}

.sidebarMenuInner
{
	display: contents;
	list-style-type: none;
}
	
#logo img {
	width: 50%;
	margin-top: 5%;
	margin-left: 42%;
	text-align: right;
}
	
footer h3 {
	letter-spacing: 1.4px;
	font-weight: bold;
	padding-left: 15%;
}
	
footer h3, li {
	line-height: 9px;
}

.box {
	display: flex;
	flex-direction: column;
}
      

@import url('https://fonts.googleapis.com/css?family=Varela+Round');
html, body {
    overflow-x: hidden;
    height: 100%;
}
body {
    padding: 0;
    margin: 0;
    font-family: quasimoda, arial black, sans-serif;
}
	
footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -100px;
}
	
.header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: pink;
    position: fixed;
    height: 60px!important;
    overflow: hidden;
    z-index: 10;
}
	
.main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
}
.mainInner{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
.mainInner div{
    display:table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
}
#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    margin-top: 60px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: linear-gradient(180deg, pink 0%, pink 100%);
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}
}
	
</style>
