<style>
{
    font-family: quasimoda, sans-serif;
    font-weight: 400;
    font-style: normal;
}

#menu, .nav2, input {
    display: none;
}

/* Header */

html,body {
    margin:0;
    padding:0;
    height: 100%;
}

#header
{
    width: 100%;
    height: 150px;
    margin: 0 auto;
    z-index: 100;
    position: relative;
    background: pink;
}

#logo
{
    display: flex;
    margin-left: 6%;
    flex-direction: row;
    align-items: baseline;
}

#logo img
{
    width: normal;
    height: normal;
    margin-top: 5%;
}

.bloc_page
{
    width: 80%;
}

#menu, input {
    visibility: hidden;
}

nav ul
{
    list-style-type: none;
    display: flex;
    margin-left: 440px;
}

nav li
{
    margin-right: 80px;
}

nav a
{
    font-size: 1.3em;
    color: white;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
}

section h1, footer h1, nav a, h3
{
    font-family: quasimoda, serif;
    font-weight: normal;
    text-transform: uppercase;
}

/*Content*/

body, html {
    height:100%;
}

body 
{
    background-color: #BF0413;
}

.site-content img {
    width: 100%;   
}

/*Footer*/

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

footer h3, li {
    padding: 0;
}

footer h3 {
    list-style-type: none;
    text-transform: uppercase;
    color: white;
    font-size: 1.6em;
    padding-left: 7%;
    padding-top: 4%;
}

footer li {
    list-style-type: none;
    font-family: quasimoda, arial black, serif;
    color: white;
    font-size: 1.3em;
    padding-left: 4%;
    padding-bottom: 5%;
}

.copyright p
{
    font-size: 1.2em;
    font-family: quasimoda, arial black, serif;
    font-weight: bold;
    color: white;
    text-align: center;
}
    
</style>

/*Media Queries*/
    
@media only screen and (min-width: 320px) and (max-width: 768px) {  
body

</style>
